:root {
  --primary: #40bad5;
  --primary-light: #7cedff;
  --primary-dark: #008aa4;

  --secondary: #035aa6;
  --secondary-light: #5286d8;
  --secondary-dark: #003276;

  --dark: #3b2a60;
  --dark-light: #68538e;
  --dark-dark: #120136;

  --light: #fdfeff;
  --light-light: #ffffff;
  --light-dark: #cacbcc;

  --success: #24e372;
  --success-light: #6effa2;
  --success-dark: #00b044;

  --warning: #ffd249;
  --warning-light: #ffff7b;
  --warning-dark: #c8a108;

  --danger: #ff4e4e;
  --danger-light: #ff837a;
  --danger-dark: #c50025;

  --black: #100527;
}
